.container {
  width: 100%;
  text-align: center;
}

.svgBox {
  border: 2px solid black;
}

.thresholdBoundingBox {
  stroke-width: 1px;
}

.annotationDropdown {
  margin: 10px auto;
}

.buttonsWrapper {
  text-align: center;
}

.labelFont {
  font-size: 0.7rem;
}
